app/kestra_workflows/w3_handle_response.yml
id: w3_handle_response
namespace: doomsday.avengers

description: |
  ═══════════════════════════════════════════════════════════════════════════════
  W3 HANDLE RESPONSE - Human Decision Processing for Zombie Verdicts
  ═══════════════════════════════════════════════════════════════════════════════
  
  Processes human decisions on zombie candidates via magic link webhooks from
  email action buttons. Supports three actions: kill (trigger W4), false_alert
  (mark healthy), and watch_more (extend observation).
  
  ┌─────────────────────────────────────────────────────────────────────────────┐
  │ WORKFLOW STAGES                                                             │
  ├─────────────────────────────────────────────────────────────────────────────┤
  │ 1. VALIDATE TOKEN      → Verify magic link token from email action          │
  │ 2. GET CANDIDATE       → Fetch candidate + watcher details from DB          │
  │ 3. PROCESS ACTION      → Route to appropriate handler based on action       │
  │    ├─ KILL             → Trigger W4 workflow for PR creation                │
  │    ├─ FALSE_ALERT      → Mark as healthy, update status                     │
  │    └─ WATCH_MORE       → Extend observation period, reset to observing      │
  │ 4. LOG DECISION        → Insert record into decision_log table              │
  │ 5. SEND CONFIRMATION   → Email user with action confirmation                │
  └─────────────────────────────────────────────────────────────────────────────┘
  
  ┌─────────────────────────────────────────────────────────────────────────────┐
  │ MAGIC LINK TOKENS                                                           │
  ├─────────────────────────────────────────────────────────────────────────────┤
  │ • Generated by W3      → SHA256 hash with candidate_id + secret             │
  │ • Single-use           → Validated and consumed on first use                │
  │ • Action embedded      → Token encodes kill/false_alert/watch_more          │
  └─────────────────────────────────────────────────────────────────────────────┘
  
  ┌─────────────────────────────────────────────────────────────────────────────┐
  │ WHY KESTRA?                                                                 │
  ├─────────────────────────────────────────────────────────────────────────────┤
  │ • Webhook Trigger      → Native HTTP endpoint for magic link callbacks      │
  │ • Condition Filter     → Validate token presence before execution           │
  │ • Flow Trigger         → Spawn W4 kill workflow with candidate inputs       │
  │ • Docker TaskRunner    → Isolated Python for DB operations                  │
  │ • MailSend Plugin      → Confirmation emails after action processing        │
  │ • Pebble Templates     → Dynamic token extraction from trigger body         │
  └─────────────────────────────────────────────────────────────────────────────┘

labels:
  workflow: w3-response
  type: human-interaction
  version: "2.0"

# ================================================================
# TRIGGERS
# ================================================================
triggers:
  - id: webhook_trigger
    type: io.kestra.plugin.core.trigger.Webhook
    key: zombie-action
    conditions:
      - type: io.kestra.plugin.core.condition.Expression
        expression: "{{ trigger.body.token is defined or trigger.body.action_token is defined }}"

# ================================================================
# INPUT SCHEMA
# ================================================================
inputs:
  - id: source
    type: STRING
    defaults: "webhook"
    description: "Source of the action: webhook or email"
    
  - id: action_token
    type: STRING
    required: false
    description: "Magic link token for webhook actions"
    
  - id: action
    type: STRING
    required: false
    description: "Direct action: kill, false_alert, watch_more"
    
  - id: feedback
    type: STRING
    required: false
    description: "Optional user feedback"

# ================================================================
# MAIN WORKFLOW TASKS
# ================================================================
tasks:
  # ============================================================
  # STEP 1: Validate token and get candidate details
  # ============================================================
  - id: validate_and_get_candidate
    type: io.kestra.plugin.scripts.python.Script
    description: Validate action token and fetch candidate details
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.11-slim
    beforeCommands:
      - pip install -q psycopg2-binary
    env:
      DATABASE_URL: "{{ secret('DATABASE_URL') }}"
      ACTION_TOKEN: "{{ inputs.action_token ?? trigger.body.token ?? trigger.body.action_token }}"
      ACTION: "{{ inputs.action ?? trigger.body.action }}"
      FEEDBACK: "{{ inputs.feedback ?? trigger.body.feedback ?? '' }}"
    outputFiles:
      - candidate.json
      - context.json
    script: |
      import os
      import json
      import psycopg2
      from datetime import datetime, timezone
      
      db_url = os.environ.get('DATABASE_URL')
      action_token = os.environ.get('ACTION_TOKEN', '')
      action = os.environ.get('ACTION', '').lower()
      feedback = os.environ.get('FEEDBACK', '')
      
      if not action_token:
          raise Exception("No action token provided")
      
      if not action or action not in ['kill', 'false_alert', 'watch_more']:
          raise Exception(f"Invalid action: {action}")
      
      conn = psycopg2.connect(db_url, sslmode='require')
      cur = conn.cursor()
      
      # Validate token and get candidate WITH github_token
      cur.execute("""
          SELECT 
              zc.candidate_id,
              zc.watcher_id,
              zc.entity_type,
              zc.entity_signature,
              zc.entity_name,
              zc.file_path,
              zc.status,
              zc.zombie_score,
              zc.final_zombie_score,
              w.repo_url,
              w.repo_name,
              w.user_email,
              w.default_branch,
              w.github_token_encrypted
          FROM zombie_candidates zc
          JOIN watchers w ON zc.watcher_id = w.watcher_id
          WHERE zc.action_token = %s
            AND zc.action_token_expires_at > NOW()
            AND zc.status = 'pending_review'
      """, (action_token,))
      
      row = cur.fetchone()
      
      if not row:
          cur.close()
          conn.close()
          raise Exception("Invalid or expired action token, or candidate not in pending_review status")
      
      columns = [desc[0] for desc in cur.description]
      candidate = dict(zip(columns, row))
      
      # Convert to JSON-safe
      for k, v in candidate.items():
          if hasattr(v, 'isoformat'):
              candidate[k] = v.isoformat()
      
      cur.close()
      conn.close()
      
      with open('candidate.json', 'w') as f:
          json.dump([candidate], f, indent=2)
      
      # Parse repo owner from repo_url
      repo_url = candidate.get('repo_url', '')
      repo_owner = ''
      if 'github.com/' in repo_url:
          parts = repo_url.split('github.com/')[-1].split('/')
          if len(parts) >= 1:
              repo_owner = parts[0]
      
      # Get github token (stored encrypted but used directly here)
      github_token = candidate.get('github_token_encrypted', '')
      if not github_token and action == 'kill':
          raise Exception("GitHub token not found for this watcher - cannot create PR")
      
      context = {
          "action": action,
          "feedback": feedback,
          "candidate_id": candidate['candidate_id'],
          "watcher_id": candidate['watcher_id'],
          "entity_signature": candidate.get('entity_signature', 'unknown'),
          "file_path": candidate.get('file_path', ''),
          "repo_url": repo_url,
          "repo_owner": repo_owner,
          "repo_name": candidate.get('repo_name', ''),
          "github_token": github_token,
          "user_email": candidate.get('user_email', ''),
          "source_type": "webhook"
      }
      
      with open('context.json', 'w') as f:
          json.dump([context], f, indent=2)
      
      print(f"[VALIDATE] Token valid for candidate {candidate['candidate_id']}, action: {action}")

  # ============================================================
  # STEP 2: Route to appropriate action handler
  # ============================================================
  - id: route_action
    type: io.kestra.plugin.core.flow.Switch
    value: "{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].action }}"
    cases:
      # ============================================================
      # ACTION: KILL - Trigger W4 to create PR
      # ============================================================
      kill:
        - id: execute_kill
          type: io.kestra.plugin.core.flow.Subflow
          flowId: w4_kill_zombie
          namespace: doomsday.assemble
          inputs:
            candidate_id: "{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].candidate_id }}"
            entity_signature: "{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].entity_signature }}"
            file_path: "{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].file_path }}"
            repo_url: "{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].repo_url }}"
            repo_owner: "{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].repo_owner }}"
            repo_name: "{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].repo_name }}"
            github_token: "{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].github_token }}"
          wait: true
      
      # ============================================================
      # ACTION: FALSE_ALERT - Mark as healthy
      # ============================================================
      false_alert:
        - id: mark_false_alert
          type: io.kestra.plugin.scripts.python.Script
          description: Mark candidate as healthy (false positive)
          taskRunner:
            type: io.kestra.plugin.scripts.runner.docker.Docker
          containerImage: python:3.11-slim
          beforeCommands:
            - pip install -q psycopg2-binary
          env:
            DATABASE_URL: "{{ secret('DATABASE_URL') }}"
            EXECUTION_ID: "{{ execution.id }}"
          inputFiles:
            context.json: "{{ outputs.validate_and_get_candidate.outputFiles['context.json'] }}"
          script: |
            import os
            import json
            import psycopg2
            
            db_url = os.environ.get('DATABASE_URL')
            execution_id = os.environ.get('EXECUTION_ID')
            
            with open('context.json', 'r') as f:
                ctx = json.load(f)
            
            candidate_id = ctx['candidate_id']
            watcher_id = ctx['watcher_id']
            feedback = ctx.get('feedback', 'Marked via action link')
            
            conn = psycopg2.connect(db_url, sslmode='require')
            cur = conn.cursor()
            
            # Update candidate to healthy
            cur.execute("""
                UPDATE zombie_candidates
                SET 
                    status = 'healthy',
                    human_action = 'false_alert',
                    human_feedback = %s,
                    human_action_at = NOW(),
                    human_action_source = 'webhook',
                    action_token = NULL,
                    action_token_expires_at = NULL,
                    updated_at = NOW()
                WHERE candidate_id = %s
            """, (feedback, candidate_id))
            
            # Log decision
            cur.execute("""
                INSERT INTO decision_log (
                    candidate_id, watcher_id, action_type, action_source,
                    actor_type, actor_id, decision, reasoning,
                    kestra_execution_id
                ) VALUES (%s, %s, 'false_alert', 'webhook', 'human', 'user', 'Marked as false alert', %s, %s)
            """, (candidate_id, watcher_id, feedback, execution_id))
            
            conn.commit()
            cur.close()
            conn.close()
            
            print(f"[FALSE_ALERT] Candidate {candidate_id} marked as healthy")
            
        - id: send_false_alert_confirmation
          type: io.kestra.plugin.notifications.mail.MailSend
          retry:
            type: constant
            maxAttempts: 3
            interval: PT30S
          host: "{{ kv('SMTP_HOST') }}"
          port: "{{ kv('SMTP_PORT') }}"
          username: "{{ kv('SMTP_USERNAME') }}"
          password: "{{ kv('SMTP_PASSWORD') }}"
          from: "{{ kv('SMTP_FROM') }}"
          to:
            - "{{ (read(outputs.validate_and_get_candidate.outputFiles['candidate.json']) | json)[0].user_email }}"
          subject: "False Alert Acknowledged - {{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].entity_signature }}"
          htmlTextContent: |
            <!DOCTYPE html>
            <html>
            <body style="margin: 0; padding: 0; background-color: #0a0a0a; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color: #0a0a0a;">
                <tr>
                  <td style="padding: 40px 20px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" style="max-width: 600px; margin: 0 auto; background: linear-gradient(180deg, #111111 0%, #0d0d0d 100%); border-radius: 16px; border: 1px solid #22c55e; overflow: hidden;">
                      <tr>
                        <td style="padding: 32px 40px; text-align: center; border-bottom: 1px solid rgba(34, 197, 94, 0.2);">
                          <h1 style="margin: 0; color: #22c55e; font-size: 28px; font-weight: 700;">False Alert Acknowledged</h1>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 32px 40px;">
                          <div style="background: rgba(34, 197, 94, 0.1); border: 1px solid rgba(34, 197, 94, 0.3); border-radius: 12px; padding: 20px; margin-bottom: 24px;">
                            <p style="color: #6b7280; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; margin: 0 0 8px;">Entity Marked Healthy</p>
                            <p style="color: #f3f4f6; font-family: 'SF Mono', Monaco, monospace; font-size: 14px; margin: 0; word-break: break-all;">{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].entity_signature }}</p>
                          </div>
                          <p style="color: #9ca3af; font-size: 15px; line-height: 1.6; margin: 0 0 16px;">This code has been marked as <strong style="color: #22c55e;">healthy</strong> and will no longer be flagged as a zombie candidate.</p>
                          <p style="color: #6b7280; font-size: 13px; margin: 0;">Thanks for the feedback! This helps improve our detection accuracy.</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 24px 40px; background: rgba(0, 0, 0, 0.3); text-align: center;">
                          <p style="color: #4b5563; font-size: 11px; margin: 0;">Services Doomsday - Zombie Detection System</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </body>
            </html>
      
      # ============================================================
      # ACTION: WATCH_MORE - Extend observation period
      # ============================================================
      watch_more:
        - id: extend_observation
          type: io.kestra.plugin.scripts.python.Script
          description: Extend observation period by 48 hours
          taskRunner:
            type: io.kestra.plugin.scripts.runner.docker.Docker
          containerImage: python:3.11-slim
          beforeCommands:
            - pip install -q psycopg2-binary
          env:
            DATABASE_URL: "{{ secret('DATABASE_URL') }}"
            EXECUTION_ID: "{{ execution.id }}"
          inputFiles:
            context.json: "{{ outputs.validate_and_get_candidate.outputFiles['context.json'] }}"
          script: |
            import os
            import json
            import psycopg2
            
            db_url = os.environ.get('DATABASE_URL')
            execution_id = os.environ.get('EXECUTION_ID')
            
            with open('context.json', 'r') as f:
                ctx = json.load(f)
            
            candidate_id = ctx['candidate_id']
            watcher_id = ctx['watcher_id']
            feedback = ctx.get('feedback', 'Extended via action link')
            
            conn = psycopg2.connect(db_url, sslmode='require')
            cur = conn.cursor()
            
            # Update candidate - extend observation, reduce score
            cur.execute("""
                UPDATE zombie_candidates
                SET 
                    status = 'active',
                    observation_end_at = NOW() + INTERVAL '48 hours',
                    zombie_score = GREATEST(0, zombie_score - 20),
                    final_verdict = NULL,
                    final_zombie_score = NULL,
                    human_action = 'watch_more',
                    human_feedback = %s,
                    human_action_at = NOW(),
                    human_action_source = 'webhook',
                    extended_observation_days = COALESCE(extended_observation_days, 0) + 2,
                    action_token = NULL,
                    action_token_expires_at = NULL,
                    updated_at = NOW()
                WHERE candidate_id = %s
                RETURNING observation_end_at
            """, (feedback, candidate_id))
            
            new_end = cur.fetchone()[0]
            
            # Log decision
            cur.execute("""
                INSERT INTO decision_log (
                    candidate_id, watcher_id, action_type, action_source,
                    actor_type, actor_id, decision, reasoning,
                    kestra_execution_id
                ) VALUES (%s, %s, 'watch_more', 'webhook', 'human', 'user', 'Extended observation', %s, %s)
            """, (candidate_id, watcher_id, feedback, execution_id))
            
            conn.commit()
            cur.close()
            conn.close()
            
            print(f"[WATCH_MORE] Candidate {candidate_id} extended until {new_end}")
            
        - id: send_watch_more_confirmation
          type: io.kestra.plugin.notifications.mail.MailSend
          retry:
            type: constant
            maxAttempts: 3
            interval: PT30S
          host: "{{ kv('SMTP_HOST') }}"
          port: "{{ kv('SMTP_PORT') }}"
          username: "{{ kv('SMTP_USERNAME') }}"
          password: "{{ kv('SMTP_PASSWORD') }}"
          from: "{{ kv('SMTP_FROM') }}"
          to:
            - "{{ (read(outputs.validate_and_get_candidate.outputFiles['candidate.json']) | json)[0].user_email }}"
          subject: "Extended Observation - {{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].entity_signature }}"
          htmlTextContent: |
            <!DOCTYPE html>
            <html>
            <body style="margin: 0; padding: 0; background-color: #0a0a0a; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color: #0a0a0a;">
                <tr>
                  <td style="padding: 40px 20px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" style="max-width: 600px; margin: 0 auto; background: linear-gradient(180deg, #111111 0%, #0d0d0d 100%); border-radius: 16px; border: 1px solid #f59e0b; overflow: hidden;">
                      <tr>
                        <td style="padding: 32px 40px; text-align: center; border-bottom: 1px solid rgba(245, 158, 11, 0.2);">
                          <h1 style="margin: 0; color: #f59e0b; font-size: 28px; font-weight: 700;">Observation Extended</h1>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 32px 40px;">
                          <div style="background: rgba(245, 158, 11, 0.1); border: 1px solid rgba(245, 158, 11, 0.3); border-radius: 12px; padding: 20px; margin-bottom: 24px;">
                            <p style="color: #6b7280; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; margin: 0 0 8px;">Under Extended Watch</p>
                            <p style="color: #f3f4f6; font-family: 'SF Mono', Monaco, monospace; font-size: 14px; margin: 0; word-break: break-all;">{{ (read(outputs.validate_and_get_candidate.outputFiles['context.json']) | json)[0].entity_signature }}</p>
                          </div>
                          <div style="display: flex; gap: 16px; margin-bottom: 24px;">
                            <div style="flex: 1; background: rgba(0, 0, 0, 0.3); border-radius: 8px; padding: 16px; text-align: center;">
                              <p style="color: #6b7280; font-size: 11px; margin: 0 0 4px;">EXTENDED BY</p>
                              <p style="color: #f59e0b; font-size: 20px; font-weight: 600; margin: 0;">48 hours</p>
                            </div>
                            <div style="flex: 1; background: rgba(0, 0, 0, 0.3); border-radius: 8px; padding: 16px; text-align: center;">
                              <p style="color: #6b7280; font-size: 11px; margin: 0 0 4px;">SCORE REDUCED</p>
                              <p style="color: #22c55e; font-size: 20px; font-weight: 600; margin: 0;">-20 pts</p>
                            </div>
                          </div>
                          <p style="color: #9ca3af; font-size: 15px; line-height: 1.6; margin: 0;">We'll continue monitoring this code for traffic. You'll receive another verdict email when the extended observation period ends.</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 24px 40px; background: rgba(0, 0, 0, 0.3); text-align: center;">
                          <p style="color: #4b5563; font-size: 11px; margin: 0;">Services Doomsday - Zombie Detection System</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </body>
            </html>

    defaults:
      - id: unknown_action
        type: io.kestra.plugin.core.execution.Fail
        errorMessage: "Unknown action"

# ================================================================
# ERROR HANDLING
# ================================================================
errors:
  - id: handle_error
    type: io.kestra.plugin.core.flow.Sequential
    tasks:
      - id: log_error
        type: io.kestra.plugin.core.log.Log
        message: "W3 Response Handler Error: {{ error.message }}"
        level: ERROR
        
      - id: notify_admin_response_error
        type: io.kestra.plugin.notifications.mail.MailSend
        description: Alert admin about response handling failure
        host: "{{ kv('SMTP_HOST') }}"
        port: "{{ kv('SMTP_PORT') }}"
        username: "{{ kv('SMTP_USERNAME') }}"
        password: "{{ kv('SMTP_PASSWORD') }}"
        from: "{{ kv('SMTP_FROM') }}"
        to:
          - "{{ kv('ADMIN_EMAIL') ?? kv('SMTP_FROM') }}"
        subject: "[ALERT] W3 Response Handler Failed"
        htmlTextContent: |
          <!DOCTYPE html>
          <html>
          <body style="margin: 0; padding: 20px; background: #0a0a0a; font-family: -apple-system, sans-serif;">
            <div style="max-width: 500px; margin: 0 auto; background: #111; border-radius: 12px; border: 1px solid #dc2626; padding: 24px;">
              <h2 style="color: #dc2626; margin: 0 0 16px;">Response Handler Failed</h2>
              <p style="color: #9ca3af; margin: 0 0 16px;">A user action could not be processed.</p>
              <div style="background: #1a1a1a; padding: 12px; border-radius: 8px; margin-bottom: 12px;">
                <p style="color: #6b7280; font-size: 11px; margin: 0 0 4px;">EXECUTION ID</p>
                <p style="color: #f3f4f6; font-family: monospace; margin: 0;">{{ execution.id }}</p>
              </div>
              <div style="background: #1c1917; padding: 12px; border-radius: 8px; border-left: 3px solid #dc2626;">
                <p style="color: #6b7280; font-size: 11px; margin: 0 0 4px;">ERROR</p>
                <p style="color: #fca5a5; font-family: monospace; font-size: 12px; margin: 0;">{{ error.message }}</p>
              </div>
              <p style="color: #4b5563; font-size: 11px; margin: 16px 0 0; text-align: center;">Services Doomsday - W3 Response Handler</p>
            </div>
          </body>
          </html>
