app/kestra_workflows/w4_kill_zombie.yml
id: w4_kill_zombie
namespace: doomsday.assemble

description: |
  ═══════════════════════════════════════════════════════════════════════════════
  W4 KILL ZOMBIE - Automated GitHub PR for Dead Code Removal
  ═══════════════════════════════════════════════════════════════════════════════
  
  Executes the final kill sequence for confirmed zombie code. Uses LLM to generate
  safe code removal, validates the changes with AST/syntax checks, and creates a
  GitHub Pull Request for human review before merge.
  
  ┌─────────────────────────────────────────────────────────────────────────────┐
  │ WORKFLOW STAGES                                                             │
  ├─────────────────────────────────────────────────────────────────────────────┤
  │ 1. GET CANDIDATE       → Fetch candidate details + watcher info from DB     │
  │ 2. CLONE REPOSITORY    → Fresh clone into WorkingDirectory                  │
  │ 3. LLM GENERATE        → Gemini generates safe code removal diff            │
  │ 4. VALIDATE CHANGES    → AST parse (Python), bracket balance (JS/TS)        │
  │ 5. COMMIT & PUSH       → Create branch, commit changes, push to remote      │
  │ 6. CREATE PR           → GitHub API to create Pull Request                  │
  │ 7. UPDATE DATABASE     → Record PR URL, set status to 'killed'              │
  │ 8. SEND EMAIL          → Success/failure notification with PR link          │
  └─────────────────────────────────────────────────────────────────────────────┘
  
  ┌─────────────────────────────────────────────────────────────────────────────┐
  │ VALIDATION CHECKS                                                           │
  ├─────────────────────────────────────────────────────────────────────────────┤
  │ • Python files   → AST parse to ensure valid syntax                         │
  │ • JS/TS files    → Bracket balance check ({}, [], ())                       │
  │ • All files      → Definition count (ensure entity was removed)             │
  │ • Size sanity    → File size change within reasonable bounds                │
  │ • Rollback       → Revert to pending_review on any failure                  │
  └─────────────────────────────────────────────────────────────────────────────┘
  
  ┌─────────────────────────────────────────────────────────────────────────────┐
  │ WHY KESTRA?                                                                 │
  ├─────────────────────────────────────────────────────────────────────────────┤
  │ • WorkingDirectory    → Isolated git clone with persistent file access      │
  │ • Docker TaskRunner   → Containerized Python/Node.js for validation         │
  │ • If/Then Flow        → Conditional PR success/failure email paths          │
  │ • InputFiles/Output   → JSON data passing between validation stages         │
  │ • Error Handler       → Automatic branch cleanup and DB rollback on fail    │
  │ • MailSend Plugin     → Rich HTML emails with diff preview on failure       │
  │ • Secrets             → Secure GitHub token and DB URL management           │
  └─────────────────────────────────────────────────────────────────────────────┘

labels:
  workflow: w4-kill
  type: code-removal
  version: "2.0"

# ================================================================
# INPUT SCHEMA
# ================================================================
inputs:
  - id: candidate_id
    type: INT
    required: true
    description: "ID of the zombie candidate to kill"
    
  - id: entity_signature
    type: STRING
    required: true
    description: "Signature of the dead entity (function/class/endpoint)"
    
  - id: file_path
    type: STRING
    required: true
    description: "Path to the file containing the dead code"
    
  - id: repo_url
    type: STRING
    required: true
    description: "Git repository URL"
    
  - id: repo_owner
    type: STRING
    required: true
    description: "GitHub repository owner"
    
  - id: repo_name
    type: STRING
    required: true
    description: "GitHub repository name"

  - id: github_token
    type: STRING
    required: true
    description: "GitHub OAuth token for repo access"

variables:
  llm_model: "{{ kv('w4_llm') ?? 'gemini-2.5-flash' }}"

# ================================================================
# MAIN WORKFLOW TASKS  
# ================================================================
tasks:
  # ============================================================
  # STEP 1: Get full candidate details
  # ============================================================
  - id: get_candidate_details
    type: io.kestra.plugin.scripts.python.Script
    description: Fetch candidate and watcher details from database
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.11-slim
    beforeCommands:
      - pip install -q psycopg2-binary
    env:
      DATABASE_URL: "{{ secret('DATABASE_URL') }}"
      CANDIDATE_ID: "{{ inputs.candidate_id }}"
    outputFiles:
      - candidate.json
    script: |
      import os
      import json
      import psycopg2
      
      db_url = os.environ.get('DATABASE_URL')
      candidate_id = int(os.environ.get('CANDIDATE_ID'))
      
      conn = psycopg2.connect(db_url, sslmode='require')
      cur = conn.cursor()
      
      cur.execute("""
          SELECT 
              zc.candidate_id,
              zc.entity_type,
              zc.entity_signature,
              zc.entity_name,
              zc.file_path,
              zc.code_snippet,
              zc.start_line,
              zc.end_line,
              zc.zombie_score,
              zc.final_zombie_score,
              zc.final_reasoning,
              w.watcher_id,
              w.repo_url,
              w.repo_name,
              w.default_branch,
              w.user_email
          FROM zombie_candidates zc
          JOIN watchers w ON zc.watcher_id = w.watcher_id
          WHERE zc.candidate_id = %s
      """, (candidate_id,))
      
      row = cur.fetchone()
      if not row:
          raise Exception(f"Candidate {candidate_id} not found")
      
      columns = [desc[0] for desc in cur.description]
      candidate = dict(zip(columns, row))
      
      for k, v in candidate.items():
          if hasattr(v, 'isoformat'):
              candidate[k] = v.isoformat()
      
      cur.execute("""
          UPDATE zombie_candidates
          SET 
              status = 'confirmed_zombie',
              human_action = 'kill',
              human_action_at = NOW(),
              updated_at = NOW()
          WHERE candidate_id = %s
      """, (candidate_id,))
      
      conn.commit()
      cur.close()
      conn.close()
      
      with open('candidate.json', 'w') as f:
          json.dump([candidate], f, indent=2)
      
      print(f"[W4] Loaded candidate {candidate_id}: {candidate.get('entity_signature')}")

  # ============================================================
  # STEP 2: Clone repo, generate removal, validate, commit, push
  # All runnable tasks inside WorkingDirectory
  # ============================================================
  - id: working_dir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    outputFiles:
      - "pr_info.json"
      - "diff_report.txt"
    tasks:
      - id: clone_repo
        type: io.kestra.plugin.git.Clone
        url: "{{ inputs.repo_url }}"
        branch: "{{ (read(outputs.get_candidate_details.outputFiles['candidate.json']) | json)[0].default_branch ?? 'main' }}"
        username: oauth2
        password: "{{ inputs.github_token }}"

      - id: generate_validate_commit_push
        type: io.kestra.plugin.scripts.python.Script
        description: LLM generates surgical removal, validates, commits, and pushes to GitHub
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.11-slim
        beforeCommands:
          - apt-get update && apt-get install -y git
          - pip install -q google-genai requests
        env:
          GOOGLE_API_KEY: "{{ secret('GOOGLE_AI_API_KEY') }}"
          LLM_MODEL: "{{ vars.llm_model }}"
          ENTITY_SIGNATURE: "{{ inputs.entity_signature }}"
          FILE_PATH: "{{ inputs.file_path }}"
          CANDIDATE_ID: "{{ inputs.candidate_id }}"
          GITHUB_TOKEN: "{{ inputs.github_token }}"
          REPO_OWNER: "{{ inputs.repo_owner }}"
          REPO_NAME: "{{ inputs.repo_name }}"
        inputFiles:
          candidate.json: "{{ outputs.get_candidate_details.outputFiles['candidate.json'] }}"
        outputFiles:
          - result.json
          - diff_report.txt
          - branch_name.txt
          - pr_info.json
        script: |
          import os
          import json
          import ast
          import re
          import difflib
          import subprocess
          
          api_key = os.environ.get('GOOGLE_API_KEY')
          llm_model = os.environ.get('LLM_MODEL', 'gemini-2.5-flash')
          entity_sig = os.environ.get('ENTITY_SIGNATURE')
          file_path = os.environ.get('FILE_PATH')
          candidate_id = os.environ.get('CANDIDATE_ID')
          github_token = os.environ.get('GITHUB_TOKEN')
          repo_owner = os.environ.get('REPO_OWNER')
          repo_name = os.environ.get('REPO_NAME')
          
          def run_git(cmd, check=True):
              """Run git command and return output"""
              result = subprocess.run(cmd, shell=True, capture_output=True, text=True)
              if check and result.returncode != 0:
                  raise Exception(f"Git command failed: {cmd}\n{result.stderr}")
              return result.stdout.strip()
          
          # Read candidate details  
          with open('candidate.json', 'r') as f:
              candidate_list = json.load(f)
              candidate = candidate_list[0] if isinstance(candidate_list, list) else candidate_list
          
          default_branch = candidate.get('default_branch', 'main')
          
          # Read target file from cloned repo
          try:
              with open(file_path, 'r') as f:
                  original_content = f.read()
          except FileNotFoundError:
              with open('result.json', 'w') as f:
                  json.dump({"success": False, "error": "Target file not found", "stage": "read"}, f)
              open('diff_report.txt', 'w').write("ERROR: Target file not found")
              open('branch_name.txt', 'w').write("")
              raise Exception(f"Target file not found: {file_path}")
          
          original_lines = original_content.split('\n')
          start_line = candidate.get('start_line', 0)
          end_line = candidate.get('end_line', 0)
          entity_type = candidate.get('entity_type', 'unknown')
          code_snippet = candidate.get('code_snippet', '')
          
          # Count existing functions/classes/routes for validation
          def count_definitions(content, file_ext):
              counts = {'functions': 0, 'classes': 0, 'routes': 0, 'exports': 0}
              if file_ext == '.py':
                  counts['functions'] = len(re.findall(r'^def \w+', content, re.MULTILINE))
                  counts['classes'] = len(re.findall(r'^class \w+', content, re.MULTILINE))
                  counts['routes'] = len(re.findall(r'@(app|router|blueprint)\.(get|post|put|delete|patch|route)', content, re.IGNORECASE))
              elif file_ext in ['.js', '.jsx', '.ts', '.tsx']:
                  counts['functions'] = len(re.findall(r'(function \w+|const \w+ = .*=>|export (async )?function)', content))
                  counts['classes'] = len(re.findall(r'class \w+', content))
                  counts['routes'] = len(re.findall(r'\.(get|post|put|delete|patch)\s*\(', content, re.IGNORECASE))
                  counts['exports'] = len(re.findall(r'^export ', content, re.MULTILINE))
              return counts
          
          file_ext = os.path.splitext(file_path)[1]
          original_counts = count_definitions(original_content, file_ext)
          print(f"[ORIGINAL] Definitions: {original_counts}")
          
          # === STAGE 1: LLM Generate Surgical Removal ===
          prompt = f"""You are a precise code surgeon. Remove ONLY the specified dead code.

          ⚠️ CRITICAL SAFETY RULES:
          1. ONLY remove the TARGET entity specified below
          2. DO NOT modify, rename, or restructure ANY other code
          3. DO NOT add new code, comments, or TODOs
          4. DO NOT change formatting of untouched code
          5. Preserve ALL imports used by other code
          6. Keep all whitespace/blank lines between other functions
          
          TARGET TO REMOVE:
          - Signature: {entity_sig}
          - Type: {entity_type}
          - Location: Lines {start_line} to {end_line} (approximate)
          - Code snippet:
          ```
          {code_snippet[:1500] if code_snippet else 'Not available'}
          ```
          
          FULL FILE ({len(original_lines)} lines):
          ```
          {original_content}
          ```
          
          REMOVAL CHECKLIST:
          ✓ Remove the function/class/route: {entity_sig}
          ✓ Remove its decorator(s) if any (@app.route, @celery.task, etc.)
          ✓ Remove imports ONLY if they become completely unused
          ✓ Remove route registration ONLY for this endpoint
          ✓ Keep everything else EXACTLY as-is
          
          OUTPUT: Return the complete updated file content.
          - No markdown code blocks
          - No explanations
          - Just the raw file content
          - If file becomes empty, return: # File emptied after zombie removal - safe to delete"""
          
          from google import genai
          client = genai.Client(api_key=api_key)
          
          response = client.models.generate_content(
              model=llm_model,
              contents=prompt,
              config={"temperature": 0.0, "max_output_tokens": 16384}
          )
          
          new_content = response.text.strip()
          
          # Remove markdown wrappers if LLM added them
          if new_content.startswith('```'):
              lines = new_content.split('\n')
              lines = lines[1:]
              if lines and lines[-1].strip() == '```':
                  lines = lines[:-1]
              new_content = '\n'.join(lines)
          
          new_lines = new_content.split('\n')
          print(f"[LLM] Generated: {len(original_lines)} → {len(new_lines)} lines")
          
          # === STAGE 2: VALIDATION ===
          validation_errors = []
          warnings = []
          
          # Check file not drastically shortened
          if len(new_content) < len(original_content) * 0.3:
              validation_errors.append(f"DANGER: File reduced by >70%")
          
          # Check definition counts
          new_counts = count_definitions(new_content, file_ext)
          print(f"[NEW] Definitions: {new_counts}")
          
          for key in ['functions', 'classes', 'routes']:
              removed = original_counts[key] - new_counts[key]
              if removed > 2:
                  validation_errors.append(f"DANGER: Removed {removed} {key}")
              elif removed > 1:
                  warnings.append(f"Removed {removed} {key}")
          
          # Syntax validation
          if file_ext == '.py':
              try:
                  ast.parse(new_content)
                  print("[VALIDATE] Python syntax valid")
              except SyntaxError as e:
                  validation_errors.append(f"Python syntax error: {e.msg} at line {e.lineno}")
          elif file_ext in ['.js', '.jsx', '.ts', '.tsx']:
              brackets = {'(': ')', '[': ']', '{': '}'}
              stack = []
              for i, char in enumerate(new_content):
                  if char in brackets:
                      stack.append((char, i))
                  elif char in brackets.values():
                      if not stack:
                          validation_errors.append(f"Unmatched closing '{char}'")
                          break
                      open_char, _ = stack.pop()
                      if brackets[open_char] != char:
                          validation_errors.append(f"Mismatched brackets")
                          break
              if stack and not validation_errors:
                  validation_errors.append(f"Unclosed brackets")
              if not validation_errors:
                  print("[VALIDATE] JS/TS validation passed")
          
          # Generate diff
          diff = list(difflib.unified_diff(original_lines, new_lines, fromfile=f'a/{file_path}', tofile=f'b/{file_path}', lineterm=''))
          diff_text = '\n'.join(diff)
          removed_lines = len([l for l in diff if l.startswith('-') and not l.startswith('---')])
          added_lines = len([l for l in diff if l.startswith('+') and not l.startswith('+++')])
          print(f"[DIFF] -{removed_lines} lines, +{added_lines} lines")
          
          if added_lines > 10 and added_lines > removed_lines:
              validation_errors.append(f"DANGER: More lines added than removed")
          
          # Save diff report
          with open('diff_report.txt', 'w') as f:
              f.write(f"=== ZOMBIE REMOVAL DIFF REPORT ===\n")
              f.write(f"Target: {entity_sig}\nFile: {file_path}\n")
              f.write(f"Changes: -{removed_lines} +{added_lines}\n")
              f.write(f"Validation: {'FAILED' if validation_errors else 'PASSED'}\n")
              if validation_errors: f.write(f"Errors: {validation_errors}\n")
              if warnings: f.write(f"Warnings: {warnings}\n")
              f.write(f"\n=== DIFF ===\n{diff_text}\n")
          
          if validation_errors:
              with open('result.json', 'w') as f:
                  json.dump({"success": False, "error": "; ".join(validation_errors), "warnings": warnings, "diff_stats": {"removed": removed_lines, "added": added_lines}}, f)
              open('branch_name.txt', 'w').write("")
              raise Exception(f"Validation FAILED: {validation_errors}")
          
          # === STAGE 3: Apply changes to file ===
          with open(file_path, 'w') as f:
              f.write(new_content)
          print(f"[FILE] Updated {file_path}")
          
          # === STAGE 4: Git commit and push ===
          import time
          timestamp = int(time.time())
          safe_name = re.sub(r'[^a-zA-Z0-9_-]', '', entity_sig)[:40]
          branch_name = f"zombie-removal/{safe_name}-{candidate_id}-{timestamp}"
          
          with open('branch_name.txt', 'w') as f:
              f.write(branch_name)
          
          # Configure git
          run_git('git config user.email "doomsday-bot@graveyard.dev"')
          run_git('git config user.name "Doomsday Bot"')
          
          # Create branch and commit
          run_git(f'git checkout -b "{branch_name}"')
          
          if "# File emptied after zombie removal" in new_content:
              run_git(f'git rm "{file_path}"')
              change_type = "deleted"
          else:
              run_git(f'git add "{file_path}"')
              change_type = "modified"
          
          commit_msg = f"[ZOMBIE] Remove: {entity_sig[:60]}"
          run_git(f'git commit -m "{commit_msg}" -m "Candidate #{candidate_id} | File: {file_path} ({change_type})"')
          
          # Push to remote (force push to handle any existing branch with same name)
          push_url = f"https://x-access-token:{github_token}@github.com/{repo_owner}/{repo_name}.git"
          run_git(f'git push --force "{push_url}" "{branch_name}"')
          
          commit_sha = run_git('git rev-parse HEAD')
          print(f"[SUCCESS] Pushed branch: {branch_name} ({commit_sha})")
          
          with open('result.json', 'w') as f:
              json.dump({
                  "success": True,
                  "branch_name": branch_name,
                  "commit_sha": commit_sha,
                  "change_type": change_type,
                  "warnings": warnings,
                  "diff_stats": {"removed": removed_lines, "added": added_lines}
              }, f, indent=2)
          
          # =================================================================
          # CREATE GITHUB PULL REQUEST
          # =================================================================
          import time
          import requests
          
          # Build PR body
          reasoning = candidate.get('llm_risk_reasoning', 'No reasoning provided')
          diff_report_content = open('diff_report.txt', 'r').read()
          
          pr_body = f"## 🧟 Zombie Code Removal\n\n"
          pr_body += f"**Entity:** `{entity_sig}`\n"
          pr_body += f"**File:** `{file_path}`\n"
          pr_body += f"**Candidate ID:** #{candidate_id}\n\n"
          pr_body += "### Why This Code is Dead\n\n"
          pr_body += "| Check | Result |\n"
          pr_body += "|-------|--------|\n"
          pr_body += "| Static Analysis | Zero callers found |\n"
          pr_body += "| Runtime Observation | No traffic detected |\n"
          pr_body += "| Human Verification | Confirmed for removal |\n\n"
          pr_body += "### AI Analysis\n"
          pr_body += f"> {reasoning}\n\n"
          pr_body += "### Safety Validations Passed\n"
          pr_body += "- [x] Syntax validation\n"
          pr_body += "- [x] Definition count check\n"
          pr_body += "- [x] File size sanity check\n\n"
          pr_body += "### Reviewer Checklist\n"
          pr_body += "- [ ] The removed code is indeed unused\n"
          pr_body += "- [ ] No other code depends on this entity\n"
          pr_body += "- [ ] Tests still pass\n\n"
          pr_body += "<details>\n<summary>Full Diff Report</summary>\n\n```\n"
          pr_body += diff_report_content[:3000]
          pr_body += "\n```\n</details>\n\n"
          pr_body += f"*Generated by Services Doomsday | Candidate #{candidate_id}*\n"
          
          # Create PR with retry
          pr_result = None
          for attempt in range(3):
              try:
                  response = requests.post(
                      f"https://api.github.com/repos/{repo_owner}/{repo_name}/pulls",
                      headers={
                          "Authorization": f"Bearer {github_token}",
                          "Accept": "application/vnd.github.v3+json"
                      },
                      json={
                          "title": f"[ZOMBIE] Remove: {entity_sig[:50]}",
                          "head": branch_name,
                          "base": default_branch,
                          "body": pr_body
                      },
                      timeout=30
                  )
                  
                  if response.status_code in [200, 201]:
                      pr_data = response.json()
                      pr_result = {
                          "success": True,
                          "pr_url": pr_data.get("html_url", ""),
                          "pr_number": pr_data.get("number", 0),
                          "branch_name": branch_name
                      }
                      print(f"[PR] Created: {pr_result['pr_url']}")
                      break
                  elif response.status_code in [403, 429]:
                      time.sleep((attempt + 1) * 30)
                  else:
                      pr_result = {"success": False, "error": response.text[:500], "branch_name": branch_name}
                      break
              except Exception as e:
                  time.sleep((2 ** attempt) * 5)
          
          if pr_result is None:
              pr_result = {"success": False, "error": "Max retries exceeded", "branch_name": branch_name}
          
          with open('pr_info.json', 'w') as f:
              json.dump([pr_result], f, indent=2)

  # ============================================================
  # STEP 3: Update database with PR info
  # ============================================================
  - id: update_database
    type: io.kestra.plugin.scripts.python.Script
    description: Update candidate with PR info and log decision
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.11-slim
    beforeCommands:
      - pip install -q psycopg2-binary
    env:
      DATABASE_URL: "{{ secret('DATABASE_URL') }}"
      CANDIDATE_ID: "{{ inputs.candidate_id }}"
      EXECUTION_ID: "{{ execution.id }}"
    inputFiles:
      pr_info.json: "{{ outputs.working_dir.outputFiles['pr_info.json'] }}"
      candidate.json: "{{ outputs.get_candidate_details.outputFiles['candidate.json'] }}"
    script: |
      import os
      import json
      import psycopg2
      
      db_url = os.environ.get('DATABASE_URL')
      candidate_id = int(os.environ.get('CANDIDATE_ID'))
      execution_id = os.environ.get('EXECUTION_ID')
      
      with open('pr_info.json', 'r') as f:
          pr_info = json.load(f)
      
      with open('candidate.json', 'r') as f:
          candidate = json.load(f)
      
      conn = psycopg2.connect(db_url, sslmode='require')
      cur = conn.cursor()
      
      if pr_info.get('success'):
          cur.execute("""
              UPDATE zombie_candidates
              SET 
                  status = 'killed',
                  pr_url = %s,
                  pr_number = %s,
                  pr_status = 'open',
                  pr_created_at = NOW(),
                  kill_execution_id = %s,
                  killed_at = NOW(),
                  updated_at = NOW()
              WHERE candidate_id = %s
          """, (pr_info['pr_url'], pr_info['pr_number'], execution_id, candidate_id))
          
          cur.execute("""
              INSERT INTO decision_log (
                  candidate_id, watcher_id, action_type, action_source,
                  actor_type, actor_id, decision, reasoning,
                  kestra_execution_id, metadata
              ) VALUES (%s, %s, 'kill', 'w4_workflow', 'system', 'w4_kill_zombie', 'PR created', %s, %s, %s)
          """, (
              candidate_id, 
              candidate.get('watcher_id'),
              f"PR #{pr_info['pr_number']} created",
              execution_id,
              json.dumps({"pr_url": pr_info['pr_url'], "pr_number": pr_info['pr_number']})
          ))
          
          print(f"[DB] Updated candidate {candidate_id} with PR {pr_info['pr_url']}")
      else:
          cur.execute("""
              INSERT INTO decision_log (
                  candidate_id, watcher_id, action_type, action_source,
                  actor_type, actor_id, decision, reasoning,
                  kestra_execution_id
              ) VALUES (%s, %s, 'kill_failed', 'w4_workflow', 'system', 'w4_kill_zombie', 'PR creation failed', %s, %s)
          """, (candidate_id, candidate.get('watcher_id'), pr_info.get('error', 'Unknown error'), execution_id))
          
          print(f"[DB] Logged failure for candidate {candidate_id}")
      
      conn.commit()
      cur.close()
      conn.close()

  # ============================================================
  # STEP 5: Send notification email
  # ============================================================
  - id: check_pr_success
    type: io.kestra.plugin.core.flow.If
    condition: "{{ (read(outputs.working_dir.outputFiles['pr_info.json']) | json)[0].success == true }}"
    then:
      - id: send_success_notification
        type: io.kestra.plugin.notifications.mail.MailSend
        host: "{{ kv('SMTP_HOST') }}"
        port: "{{ kv('SMTP_PORT') }}"
        transportStrategy: SMTP_TLS
        username: "{{ kv('SMTP_USERNAME') }}"
        password: "{{ kv('SMTP_PASSWORD') }}"
        from: "{{ kv('SMTP_FROM') }}"
        to: "{{ (read(outputs.get_candidate_details.outputFiles['candidate.json']) | json)[0].user_email }}"
        subject: "Zombie Killed - PR Created for {{ inputs.entity_signature }}"
        htmlTextContent: |
          <!DOCTYPE html>
          <html>
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
          </head>
          <body style="margin: 0; padding: 0; background-color: #0a0a0a; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;">
            <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #0a0a0a; padding: 40px 20px;">
              <tr>
                <td align="center">
                  <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 560px; background-color: #111111; border-radius: 16px; overflow: hidden; border: 1px solid #222;">
                    
                    <!-- Header -->
                    <tr>
                      <td style="background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%); padding: 32px 40px; text-align: center;">
                        <div style="width: 56px; height: 56px; background: linear-gradient(135deg, #16a34a 0%, #15803d 100%); border-radius: 14px; display: inline-block; margin-bottom: 16px; box-shadow: 0 4px 20px rgba(22, 163, 74, 0.4);">
                          <span style="font-size: 28px; line-height: 56px; color: #fff;">SD</span>
                        </div>
                        <h1 style="margin: 0; color: #ffffff; font-size: 22px; font-weight: 600; letter-spacing: -0.5px;">Zombie Terminated!</h1>
                        <p style="margin: 8px 0 0; color: #9ca3af; font-size: 13px;">Pull Request has been created to remove the dead code</p>
                      </td>
                    </tr>
                    
                    <!-- Success Badge -->
                    <tr>
                      <td style="padding: 24px 40px 0;">
                        <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #f0fdf4; border: 1px solid #bbf7d0; border-radius: 12px;">
                          <tr>
                            <td style="padding: 20px; text-align: center;">
                              <span style="color: #16a34a; font-size: 11px; font-weight: 700; letter-spacing: 1.5px; text-transform: uppercase;">STATUS</span>
                              <h2 style="margin: 4px 0 0; color: #16a34a; font-size: 24px; font-weight: 700;">PR CREATED</h2>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                    <!-- Entity Details -->
                    <tr>
                      <td style="padding: 24px 40px;">
                        <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #1a1a1a; border-radius: 12px; border: 1px solid #262626;">
                          <tr>
                            <td style="padding: 20px;">
                              <p style="margin: 0 0 4px; color: #6b7280; font-size: 11px; font-weight: 600; letter-spacing: 0.5px; text-transform: uppercase;">Killed Entity</p>
                              <p style="margin: 0 0 16px; color: #f3f4f6; font-size: 15px; font-weight: 500; word-break: break-all; font-family: 'SF Mono', Monaco, 'Cascadia Code', monospace; background: #0f0f0f; padding: 8px 12px; border-radius: 6px;">{{ inputs.entity_signature }}</p>
                              
                              <p style="margin: 0 0 4px; color: #6b7280; font-size: 11px; font-weight: 600; letter-spacing: 0.5px; text-transform: uppercase;">File Path</p>
                              <p style="margin: 0 0 16px; color: #d1d5db; font-size: 13px; font-family: 'SF Mono', Monaco, monospace;">{{ inputs.file_path }}</p>
                              
                              <p style="margin: 0 0 4px; color: #6b7280; font-size: 11px; font-weight: 600; letter-spacing: 0.5px; text-transform: uppercase;">Repository</p>
                              <p style="margin: 0; color: #d1d5db; font-size: 13px;">{{ inputs.repo_owner }}/{{ inputs.repo_name }}</p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                    <!-- CTA Button -->
                    <tr>
                      <td style="padding: 0 40px 32px; text-align: center;">
                        <a href="{{ (read(outputs.working_dir.outputFiles['pr_info.json']) | json)[0].pr_url }}" style="display: inline-block; background: linear-gradient(135deg, #16a34a 0%, #15803d 100%); color: #ffffff; padding: 16px 32px; text-decoration: none; border-radius: 10px; font-size: 15px; font-weight: 600; box-shadow: 0 4px 14px rgba(22, 163, 74, 0.4);">
                          Review Pull Request
                        </a>
                        <p style="margin: 16px 0 0; color: #6b7280; font-size: 12px;">Review and merge to complete the removal</p>
                      </td>
                    </tr>
                    
                    <!-- Footer -->
                    <tr>
                      <td style="background-color: #0a0a0a; padding: 24px 40px; border-top: 1px solid #222;">
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" style="margin-bottom: 12px;">
                                <tr>
                                  <td style="vertical-align: middle; padding-right: 10px;">
                                    <div style="width: 28px; height: 28px; background: linear-gradient(135deg, #dc2626 0%, #991b1b 100%); border-radius: 6px; display: inline-block;">
                                      <span style="font-size: 11px; line-height: 28px; display: block; text-align: center; color: #fff; font-weight: 700;">SD</span>
                                    </div>
                                  </td>
                                  <td style="vertical-align: middle;">
                                    <p style="margin: 0; color: #f3f4f6; font-size: 13px; font-weight: 600;">Services Doomsday</p>
                                  </td>
                                </tr>
                              </table>
                              <p style="margin: 0; color: #4b5563; font-size: 11px;">Zombie Detection System</p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                  </table>
                </td>
              </tr>
            </table>
          </body>
          </html>
    else:
      # PR failed - prepare comprehensive failure email with all details
      - id: prepare_failure_email
        type: io.kestra.plugin.scripts.python.Script
        description: Prepare detailed failure email with file info and diff
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.11-slim
        env:
          ENTITY_SIGNATURE: "{{ inputs.entity_signature }}"
          FILE_PATH: "{{ inputs.file_path }}"
          REPO_OWNER: "{{ inputs.repo_owner }}"
          REPO_NAME: "{{ inputs.repo_name }}"
          CANDIDATE_ID: "{{ inputs.candidate_id }}"
        inputFiles:
          pr_info.json: "{{ outputs.working_dir.outputFiles['pr_info.json'] }}"
          candidate.json: "{{ outputs.get_candidate_details.outputFiles['candidate.json'] }}"
          diff_report.txt: "{{ outputs.working_dir.outputFiles['diff_report.txt'] }}"
        outputFiles:
          - failure_email.json
        script: |
          import os
          import json
          import html
          
          entity_sig = os.environ.get('ENTITY_SIGNATURE', '')
          file_path = os.environ.get('FILE_PATH', '')
          repo_owner = os.environ.get('REPO_OWNER', '')
          repo_name = os.environ.get('REPO_NAME', '')
          candidate_id = os.environ.get('CANDIDATE_ID', '')
          
          # Load PR error info
          with open('pr_info.json', 'r') as f:
              pr_info = json.load(f)
              if isinstance(pr_info, list):
                  pr_info = pr_info[0]
          
          error_msg = pr_info.get('error', 'Unknown error')
          status_code = pr_info.get('status_code', 'N/A')
          
          # Load candidate info
          with open('candidate.json', 'r') as f:
              candidate = json.load(f)
              if isinstance(candidate, list):
                  candidate = candidate[0]
          
          user_email = candidate.get('user_email', '')
          zombie_score = candidate.get('final_zombie_score') or candidate.get('zombie_score', 0)
          entity_type = candidate.get('entity_type', 'unknown')
          
          # Load diff report
          try:
              with open('diff_report.txt', 'r') as f:
                  diff_report = f.read()[:5000]  # Limit size
          except:
              diff_report = "Diff report not available"
          
          # Escape HTML entities
          diff_escaped = html.escape(diff_report)
          error_escaped = html.escape(str(error_msg)[:500])
          
          # Build comprehensive failure email
          subject = f"[ALERT] PR Failed - Manual Action Required for {entity_sig[:40]}"
          
          html_body = f'''<!DOCTYPE html>
          <html>
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
          </head>
          <body style="margin: 0; padding: 0; background-color: #0a0a0a; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;">
            <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #0a0a0a; padding: 40px 20px;">
              <tr>
                <td align="center">
                  <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 640px; background-color: #111111; border-radius: 16px; overflow: hidden; border: 1px solid #222;">
                    
                    <!-- Header -->
                    <tr>
                      <td style="background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%); padding: 32px 40px; text-align: center;">
                        <div style="width: 56px; height: 56px; background: linear-gradient(135deg, #dc2626 0%, #991b1b 100%); border-radius: 14px; display: inline-block; margin-bottom: 16px; box-shadow: 0 4px 20px rgba(220, 38, 38, 0.4);">
                          <span style="font-size: 20px; line-height: 56px; color: #fff; font-weight: 700;">!</span>
                        </div>
                        <h1 style="margin: 0; color: #ffffff; font-size: 22px; font-weight: 600;">PR Creation Failed</h1>
                        <p style="margin: 8px 0 0; color: #9ca3af; font-size: 13px;">Manual action required - all details below</p>
                      </td>
                    </tr>
                    
                    <!-- Error Badge -->
                    <tr>
                      <td style="padding: 24px 40px 0;">
                        <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #fef2f2; border: 1px solid #fecaca; border-radius: 12px;">
                          <tr>
                            <td style="padding: 16px; text-align: center;">
                              <span style="color: #dc2626; font-size: 11px; font-weight: 700; letter-spacing: 1.5px;">HTTP {status_code}</span>
                              <h2 style="margin: 4px 0 0; color: #dc2626; font-size: 18px; font-weight: 700;">GitHub API Error</h2>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                    <!-- Target Details -->
                    <tr>
                      <td style="padding: 24px 40px;">
                        <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #1a1a1a; border-radius: 12px; border: 1px solid #262626;">
                          <tr>
                            <td style="padding: 20px;">
                              <p style="margin: 0 0 4px; color: #6b7280; font-size: 11px; font-weight: 600; letter-spacing: 0.5px; text-transform: uppercase;">Target Entity</p>
                              <p style="margin: 0 0 12px; color: #f3f4f6; font-size: 14px; font-weight: 500; word-break: break-all; font-family: monospace; background: #0f0f0f; padding: 8px 12px; border-radius: 6px;">{html.escape(entity_sig)}</p>
                              
                              <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td width="50%">
                                    <p style="margin: 0 0 4px; color: #6b7280; font-size: 11px; font-weight: 600;">FILE PATH</p>
                                    <p style="margin: 0; color: #d1d5db; font-size: 12px; font-family: monospace;">{html.escape(file_path)}</p>
                                  </td>
                                  <td width="50%">
                                    <p style="margin: 0 0 4px; color: #6b7280; font-size: 11px; font-weight: 600;">REPOSITORY</p>
                                    <p style="margin: 0; color: #d1d5db; font-size: 12px;">{repo_owner}/{repo_name}</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="50%" style="padding-top: 12px;">
                                    <p style="margin: 0 0 4px; color: #6b7280; font-size: 11px; font-weight: 600;">TYPE</p>
                                    <p style="margin: 0; color: #d1d5db; font-size: 12px;">{entity_type}</p>
                                  </td>
                                  <td width="50%" style="padding-top: 12px;">
                                    <p style="margin: 0 0 4px; color: #6b7280; font-size: 11px; font-weight: 600;">ZOMBIE SCORE</p>
                                    <p style="margin: 0; color: #ef4444; font-size: 12px; font-weight: 600;">{zombie_score}/100</p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                    <!-- Error Details -->
                    <tr>
                      <td style="padding: 0 40px 24px;">
                        <p style="margin: 0 0 8px; color: #6b7280; font-size: 11px; font-weight: 600; letter-spacing: 0.5px; text-transform: uppercase;">Error Message</p>
                        <div style="background: #1c1917; border-left: 3px solid #dc2626; padding: 12px; border-radius: 0 6px 6px 0;">
                          <pre style="margin: 0; color: #fca5a5; font-size: 11px; font-family: monospace; white-space: pre-wrap; word-break: break-all;">{error_escaped}</pre>
                        </div>
                      </td>
                    </tr>
                    
                    <!-- Manual Instructions -->
                    <tr>
                      <td style="padding: 0 40px 24px;">
                        <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #172554; border-radius: 10px; border: 1px solid #1e40af;">
                          <tr>
                            <td style="padding: 16px;">
                              <p style="margin: 0 0 8px; color: #60a5fa; font-size: 13px; font-weight: 600;">Manual Steps to Complete:</p>
                              <ol style="margin: 0; padding-left: 20px; color: #93c5fd; font-size: 12px; line-height: 1.8;">
                                <li>Clone the repository: <code style="background: #1e3a5f; padding: 2px 6px; border-radius: 4px;">git clone https://github.com/{repo_owner}/{repo_name}</code></li>
                                <li>Create a new branch: <code style="background: #1e3a5f; padding: 2px 6px; border-radius: 4px;">git checkout -b zombie-removal/{candidate_id}</code></li>
                                <li>Apply the changes from the "Updated File" section below</li>
                                <li>Commit and push: <code style="background: #1e3a5f; padding: 2px 6px; border-radius: 4px;">git commit -am "Remove zombie: {html.escape(entity_sig[:30])}"</code></li>
                                <li>Create PR manually on GitHub</li>
                              </ol>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                    <!-- Diff Report -->
                    <tr>
                      <td style="padding: 0 40px 24px;">
                        <p style="margin: 0 0 8px; color: #6b7280; font-size: 11px; font-weight: 600; letter-spacing: 0.5px; text-transform: uppercase;">Diff Report</p>
                        <div style="background: #0f0f0f; border-radius: 8px; border: 1px solid #262626; max-height: 300px; overflow: auto;">
                          <pre style="margin: 0; padding: 12px; color: #a3a3a3; font-size: 10px; font-family: monospace; white-space: pre-wrap;">{diff_escaped}</pre>
                        </div>
                      </td>
                    </tr>
                    
                    <!-- Footer -->
                    <tr>
                      <td style="background-color: #0a0a0a; padding: 24px 40px; border-top: 1px solid #222;">
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center">
                              <table cellpadding="0" cellspacing="0" style="margin-bottom: 12px;">
                                <tr>
                                  <td style="vertical-align: middle; padding-right: 10px;">
                                    <div style="width: 28px; height: 28px; background: linear-gradient(135deg, #dc2626 0%, #991b1b 100%); border-radius: 6px; display: inline-block;">
                                      <span style="font-size: 11px; line-height: 28px; display: block; text-align: center; color: #fff; font-weight: 700;">SD</span>
                                    </div>
                                  </td>
                                  <td style="vertical-align: middle;">
                                    <p style="margin: 0; color: #f3f4f6; font-size: 13px; font-weight: 600;">Services Doomsday</p>
                                  </td>
                                </tr>
                              </table>
                              <p style="margin: 0; color: #4b5563; font-size: 11px;">Candidate #{candidate_id} | Status reverted to pending review</p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                  </table>
                </td>
              </tr>
            </table>
          </body>
          </html>'''
          
          # Save email content
          email_data = {
              "to_email": user_email,
              "subject": subject,
              "html_body": html_body
          }
          
          with open('failure_email.json', 'w') as f:
              json.dump(email_data, f)
          
          print(f"[EMAIL] Prepared failure email for {user_email}")
          print(f"  Subject: {subject}")
          print(f"  Diff length: {len(diff_report)} chars")
          print(f"  Updated file preview: {len(updated_preview)} chars")

      - id: send_failure_notification
        type: io.kestra.plugin.notifications.mail.MailSend
        host: "{{ kv('SMTP_HOST') }}"
        port: "{{ kv('SMTP_PORT') }}"
        transportStrategy: SMTP_TLS
        username: "{{ kv('SMTP_USERNAME') }}"
        password: "{{ kv('SMTP_PASSWORD') }}"
        from: "{{ kv('SMTP_FROM') }}"
        to: "{{ (read(outputs.prepare_failure_email.outputFiles['failure_email.json']) | json).to_email }}"
        subject: "{{ (read(outputs.prepare_failure_email.outputFiles['failure_email.json']) | json).subject }}"
        htmlTextContent: "{{ (read(outputs.prepare_failure_email.outputFiles['failure_email.json']) | json).html_body }}"

# ================================================================
# ERROR HANDLING
# ================================================================
errors:
  - id: handle_error
    type: io.kestra.plugin.core.flow.Sequential
    tasks:
      - id: log_error
        type: io.kestra.plugin.core.log.Log
        message: "W4 Kill Zombie Error - Failed Task: {{ errorLogs() | first | jq('.taskId') | first }}"
        level: ERROR
        
      - id: cleanup_and_revert
        type: io.kestra.plugin.scripts.python.Script
        description: "Cleanup orphan branch and revert DB status"
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.11-slim
        beforeCommands:
          - pip install -q psycopg2-binary requests
        env:
          DATABASE_URL: "{{ secret('DATABASE_URL') }}"
          CANDIDATE_ID: "{{ inputs.candidate_id }}"
          GITHUB_TOKEN: "{{ inputs.github_token }}"
          REPO_OWNER: "{{ inputs.repo_owner }}"
          REPO_NAME: "{{ inputs.repo_name }}"
        script: |
          import os
          import psycopg2
          import requests
          
          db_url = os.environ.get('DATABASE_URL')
          candidate_id = int(os.environ.get('CANDIDATE_ID'))
          token = os.environ.get('GITHUB_TOKEN')
          owner = os.environ.get('REPO_OWNER')
          repo = os.environ.get('REPO_NAME')
          
          # Try to cleanup orphan branch (best effort)
          branch_name = f"doomsday/zombie-cleanup-{candidate_id}"
          try:
              response = requests.delete(
                  f"https://api.github.com/repos/{owner}/{repo}/git/refs/heads/{branch_name}",
                  headers={
                      "Authorization": f"Bearer {token}",
                      "Accept": "application/vnd.github.v3+json"
                  },
                  timeout=10
              )
              if response.status_code in [200, 204]:
                  print(f"[CLEANUP] Deleted orphan branch: {branch_name}")
              elif response.status_code == 422:
                  print(f"[CLEANUP] Branch {branch_name} not found (already cleaned or never created)")
              else:
                  print(f"[CLEANUP] Could not delete branch (status {response.status_code})")
          except Exception as e:
              print(f"[CLEANUP] Branch cleanup failed: {str(e)[:100]}")
          
          # Revert DB status
          conn = psycopg2.connect(db_url, sslmode='require')
          cur = conn.cursor()
          
          cur.execute("""
              UPDATE zombie_candidates
              SET status = 'pending_review', updated_at = NOW()
              WHERE candidate_id = %s
          """, (candidate_id,))
          
          conn.commit()
          cur.close()
          conn.close()
          
          print(f"[ERROR] Reverted candidate {candidate_id} to pending_review")
          
      - id: notify_admin_w4_failure
        type: io.kestra.plugin.notifications.mail.MailSend
        description: Alert admin about W4 failure
        host: "{{ kv('SMTP_HOST') }}"
        port: "{{ kv('SMTP_PORT') }}"
        transportStrategy: SMTP_TLS
        username: "{{ kv('SMTP_USERNAME') }}"
        password: "{{ kv('SMTP_PASSWORD') }}"
        from: "{{ kv('SMTP_FROM') }}"
        to: "{{ kv('SMTP_FROM') }}"
        subject: "[ALERT] W4 Kill Zombie Failed - Candidate #{{ inputs.candidate_id }}"
        htmlTextContent: |
          <!DOCTYPE html>
          <html>
          <body style="margin: 0; padding: 20px; background: #0a0a0a; font-family: -apple-system, sans-serif;">
            <div style="max-width: 500px; margin: 0 auto; background: #111; border-radius: 12px; border: 1px solid #dc2626; padding: 24px;">
              <h2 style="color: #dc2626; margin: 0 0 16px;">W4 Kill Zombie Failed</h2>
              <p style="color: #9ca3af; margin: 0 0 16px;">The zombie removal workflow failed during execution.</p>
              <div style="background: #1a1a1a; padding: 12px; border-radius: 8px; margin-bottom: 12px;">
                <p style="color: #6b7280; font-size: 11px; margin: 0 0 4px;">CANDIDATE ID</p>
                <p style="color: #f3f4f6; font-family: monospace; margin: 0;">#{{ inputs.candidate_id }}</p>
              </div>
              <div style="background: #1a1a1a; padding: 12px; border-radius: 8px; margin-bottom: 12px;">
                <p style="color: #6b7280; font-size: 11px; margin: 0 0 4px;">ENTITY</p>
                <p style="color: #f3f4f6; font-family: monospace; font-size: 12px; margin: 0;">{{ inputs.entity_signature }}</p>
              </div>
              <div style="background: #1a1a1a; padding: 12px; border-radius: 8px; margin-bottom: 12px;">
                <p style="color: #6b7280; font-size: 11px; margin: 0 0 4px;">EXECUTION ID</p>
                <p style="color: #f3f4f6; font-family: monospace; margin: 0;">{{ execution.id }}</p>
              </div>
              <div style="background: #1c1917; padding: 12px; border-radius: 8px; border-left: 3px solid #dc2626;">
                <p style="color: #6b7280; font-size: 11px; margin: 0 0 4px;">ERROR</p>
                <p style="color: #fca5a5; font-family: monospace; font-size: 12px; margin: 0;">Failed task: {{ errorLogs() | first | jq('.taskId') | first }} - Check execution logs for details</p>
              </div>
              <p style="color: #4b5563; font-size: 11px; margin: 16px 0 0; text-align: center;">Services Doomsday - W4 Kill Zombie</p>
            </div>
          </body>
          </html>
